.home {
  margin-top: 8%;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: 1.5s ease;
}

.inner:hover img {
  transform: scale(1.5);
}

.messages {
  color: red;
}

.hidden-link {
  color: #edebeb;

  padding: 2px; /* Поля вокруг текста */
}

.home-image-size {
	height: 250px;
	width: 250px;
   
   
}

.top-post-size {
	height: 150px;
	width: 150px;
}