{% extends 'first/base.html' %} {%block content %}


<div class="container">
  <h1>{{post.title}}</h1>
  <p>{{post.date_create}}</p>

  {% if post.image %}
  <p><img src="{{post.image.url}}" width="700" /></p>
  {% else %}
  <p></p>
  {% endif %}
  <p>{{post.body|safe}}</p>
  <p>{{post.author}}</p>

  <form
          action="{% url 'likes_post'  post.pk %}"
          method="POST">

    {% csrf_token %}
      {% if user.is_authenticated %}
    {% if liked %}
            <button
                  class="btn btn-danger"
                  type="submit"
                  value="{{post.id}}"
                  name="post_id">
                <i class="fas fa-thumbs-up"></i>
          </button>

      {% else %}

            <button
                  class="btn btn-light"
                  type="submit"
                  value="{{post.id}}"
                  name="post_id"
          ><i class="fas fa-thumbs-up"></i>
          </button>
         {% endif %}
      {% else %}

            {% endif %}
      {{post.total_likes}}

  </form>

  <p>{% for comment in comments %}</p>
  <p>{{comment.date_post}}</p>
  <strong>
    <h4>{{comment.author}}:</h4>
  </strong>
  <p>{{comment.body}}</p>

  {% endfor %}
</div>

<form action="" method="POST">
  {% csrf_token %} {{form.as_p}}
  <p><button class="btn btn-success" type="submit">send</button></p>
</form>

{% endblock%}
