{% extends 'first/base.html' %} {%block content %}



 <!-- ________________Content______________________-->
<div class="container">

  <div class="content">
    <h1>{{post.title}}</h1>
    <p>{{post.date_create}}</p>

    {% if post.image %}
    <p><img src="{{post.image.url}}" width="700" /></p>
    {% else %}
    {% endif %}
      <p>{{post.body|safe}}</p>



  <!-- ________________LIKE BUTTON______________________-->
  <form
          action="{% url 'likes_post'  post.pk %}"
          method="POST">

    {% csrf_token %}
      {% if user.is_authenticated %}
    {% if liked %}
            <button
                  class="btn btn-danger"
                  type="submit"
                  value="{{post.id}}"
                  name="post_id">
                <i class="fas fa-thumbs-up"></i>
          </button>

      {% else %}

            <button
                  class="btn btn-light"
                  type="submit"
                  value="{{post.id}}"
                  name="post_id"
          ><i class="fas fa-thumbs-up"></i>
          </button>
         {% endif %}
      {% else %}
    <i class="fas fa-thumbs-up "></i>
            {% endif %}
      {{post.total_likes}}

  </form>


     <!-- ________________UPDATE AND DELETE BUTTONS______________________-->
  
      {% if request.user.profile == author %}
     <div class="content btn">
           <a class="btn btn-outline-dark btn-sm" href="{% url 'update_post' post.id %}">edit</a>
           <button class="btn btn-outline-danger btn-sm btnDelete" >delete</button>
    </div>      
       <div class="modalPostDelete">

         <!-- ________________MODAL WINDOW DELETE_____________________-->
           <form action="{% url 'artical_page' post.id %}" method='POST' id='YES'>
            {% csrf_token %}
              <h5>
               <strong> 
                <p> 
                  Are you sure you want to delete {{post.title}}?
                </p>
              </h5>
            </strong>
             
             <input type="Submit" class="btn btn-danger btn-sm" name="btn" value="YES">
              <a class="btn btn-dark btn-sm" href="{% url 'artical_page' post.id %}">NO</a>
           </form>
       </div>
       <div class="modalPostDelete_bg"></div>
   
                       {% else %}
                       {% endif %}
  </div>






 <!-- ________________Comments______________________-->
  <p>{% for comment in comments %}</p>
  <p>{{comment.date_post}}</p>
  <strong>
    <h4>{{comment.author}}:</h4>
  </strong>
  <p>{{comment.body}}</p>

  {% endfor %}
</div>



 <!-- ________________Comment form______________________-->
<form action="" method="POST" id="send comment">
  {% csrf_token %} {{form.as_p}}
  <input type="submit"  class="btn btn-success" name="btn" value="send comment">
</form>

{% endblock%}
