{% extends 'first/base.html' %} {%block content %}

<div class="container" class="home">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div class="row justify-content-center">
        {% for post in posts %}
        <div class="col-md-4">
          <div class="card-deck mt-4">
            <div class="card shadow mt-4" style="width: 20rem">
              {% if post.image %}
              <div class="inner">
                <img
                  class="card-img-top"
                  src="{{post.image.url}}"
                  alt="Card image cap"
                />
              </div>
              {% else %}
              <p></p>
              {% endif %}
              <div class="card-body">
                <h5 class="card-title">
                  <a
                    class="badge badge-secondary"
                    href="{% url 'artical_page' post.id %}"
                    class="card-link"
                    >{{post.title}}</a
                  >
                </h5>
                <!--  <p class="card-text" style="width: 20rem">
                  {{post.body|safe|truncatewords:15|linebreaks}}
                </p> -->
                <p class="card-text">
                  <small class="text-muted">{{post.date_create}}</small>
                </p>
              </div>
            </div>
            <!--jhjhjhj-->
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!--*************************top**articles****************************-->
    <div class="col-md-3">
      <p class="h3 mt-4">Top posts</p>

      <div class="card mt-4">
        <img class="card-img-top" src="..." alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
      <div class="card mt-4">
        <img class="card-img-top" src="..." alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
