{% extends 'first/base.html' %} {%block content %} {% load static %}
<div class="container" class="home">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="row justify-content-center">
        {% for post in posts %}
        <div class="col-md-4">
          <div class="card-deck mt-4">
            <div class="card shadow mt-4" style="width: 20rem">
              <div class="inner text-center">
                {% if post.image %}
                
               <img
                  class="card-img-top home-image-size"
                  src="{{post.image.url}}"
                  alt="Card image cap"
                />
                

                {% else %}
                <img
                  class="card-img-top home-image-size "
                  src="{% static '/logo/django.png' %}"
                  alt="Card image cap"
                />
                {% endif %}
              </div>

              <div class="card-body">
                <h5 class="card-title text-center">
                  <a
                    class="badge badge-secondary "
                    href="{% url 'artical_page' post.id %}"
                    class="card-link"
                    >{{post.title}}</a
                  >
                </h5>
                <!--  <p class="card-text" style="width: 20rem">
                  {{post.body|safe|truncatewords:15|linebreaks}}
                </p> -->
                <p class="card-text">
                  <small class="text-muted">{{post.date_create}}</small>
                </p>
              </div>
            </div>
            <!--jhjhjhj-->
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!--*************************top**articles****************************-->
    <div class="col-md-2 top-post-size">
      <p class="h3 mt-4">Top posts</p>
      {% for top_post in top_posts %}
      <div class="card mt-4 ">
       {% if post.image %}
                <img
                  class="card-img-top"
                  src="{{post.image.url}}"
                  alt="Card image cap"
                />
                {% else %}
                <img
                  class="card-img-top"
                  src="{% static '/logo/django.png' %}"
                  alt="Card image cap"
                />
                {% endif %}
                   <a class='text-center' href="{% url 'artical_page' top_post.id %}">{{top_post.title}}</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
