{% extends 'first/base.html' %} {%block content %}

<title>Sign in</title>

<body>
  <div class="text-center mt-5">
    <form style="max-width: 480px; margin: auto" method="post">
      {% csrf_token %}
      <img
        src="https://logodix.com/logo/1713894.jpg"
        alt=""
        width="120"
        height="90"
        class="d-inline-block mt-4 mb-4"
      />
      <p class="hint-text mb-3">Please sign in</p>
      <label class="sr-only" for="username"></label>
      <input
        type="login"
        name="username"
        class="form-control"
        placeholder="username"
        required
        autofocus
      />
      <label for="password" class="sr-only"></label>
      <input
        type="password"
        name="password"
        class="form-control mt-2"
        placeholder="password"
      />
      <div class="checkbox">
        <label for="remember_me">
          <input type="checkbox" name="remember_me" value="1" />
          remember me
        </label>
      </div>
      <div class="d-grid gap-2 mt-4">
        <input type="Submit" class="btn btn-primary" value="sign in" />
      </div>
    </form>
    <div class="messages">
      {% for message in messages %}
      <h3>{{message}}</h3>
      {% endfor %}
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  {% endblock %}
</body>
